{% if sectionNav %}
<nav class="site-nav" aria-label="Principal">
  <a href="{{ ('/' + page.lang + '/#about') | url }}">{{ i18n[page.lang].nav.about }}{% include "icons/neuron.svg" %}</a>
  <a href="{{ ('/' + page.lang + '/#news') | url }}">{{ i18n[page.lang].nav.news }}{% include "icons/neuron.svg" %}</a>
  <a href="{{ ('/' + page.lang + '/#events') | url }}">{{ i18n[page.lang].nav.events }}{% include "icons/neuron.svg" %}</a>
  <a href="{{ ('/' + page.lang + '/#research') | url }}">{{ i18n[page.lang].nav.research }}{% include "icons/neuron.svg" %}</a>
  <a href="{{ ('/' + page.lang + '/#docs') | url }}">{{ i18n[page.lang].nav.docs }}{% include "icons/neuron.svg" %}</a>
</nav>
{% endif %}

<div class="site-header__actions">
  <div class="lang-switch" aria-label="{{ i18n[page.lang].languageLabel }}">
    {% for loc in site.locales %}<a href="{{ ((translationKey | translatedUrl(loc.code, collections)) or ('/' + loc.code + '/')) | url }}"{% if loc.code == page.lang %} aria-current="page"{% endif %}>{{ loc.code | upper }}</a>{% endfor %}
  </div>
  {% if sectionNav %}
  <a class="button button--donate" href="{{ ('/' + page.lang + '/#donate') | url }}">{% include "icons/butterfly.svg" %}{{ i18n[page.lang].nav.donate }}</a>
  {% endif %}
</div>
