---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ '/es/' | url }}">
  <link rel="canonical" href="{{ '/es/' | url }}">
  <title>Fundación Martina</title>
</head>
<body>
  <p>Si no eres redirigido automáticamente, <a href="{{ '/es/' | url }}">haz clic aquí</a>.</p>
</body>
</html>
